<header class="header">
    <h1>todos</h1>
    <form method="post" action="/add" >
        <input
            class="new-todo"
            placeholder="What needs to be done?"
            autofocus
            type="text"
            name="todoItem"
        ></input>
    </form>
</header>